@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Nanum+Gothic&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    color: #1F2E24;
    text-decoration: none;
}

body {
    background-color: #9db0a3;
    width: 100%;
}

.game-area {
    text-align: center;
}

h2 {
    padding-top: 1%;
    font-size: 34px;
}

.game-button {
    width: 25%;
}

.score-area {
    text-align: center;
}

#reset-game {
    color: #9db0a3;
    background-color: #1F2E24;
    font-size: 20px;
    size: 10px;
    font-size: 30px;
    background-color: #1F2E24;
    color: #9db0a3;
    border: 2px #9db0a3 solid;
    border-radius: 10px;
    padding: 10px;
}

#reset-game:hover {
    background-color: #9db0a3;
    color: #1F2E24;
    border: 2px #1F2E24 solid;
    border-radius: 10px;
}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 3%;
}

#sheldons-rules {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

.game-rules {
    text-align: center;
}

#game-rules-image {
    text-align: center;
    width: 70%;
}

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline;
    font-size: 30px;
}

#footer-links {
    margin-left: 19%;
    margin-right: 19%;
    background-color: #1F2E24;
    color: #9db0a3;
    border: 2px #9db0a3 solid;
    border-radius: 10px;
    padding: 10px;
}

#footer-links:hover {
    background-color: #9db0a3;
    color: #1F2E24;
    border: 2px #1F2E24 solid;
    border-radius: 10px;
}

#image-404 {
    width: 100%;
}

#return-home {
    position: relative;
    bottom: 330px;
    right: 300px;
    font-size: 50px;
    background-color: #9db0a3;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

#return-home:hover {
    background-color: #1F2E24;
    color: #9db0a3;
}

@media screen and (max-width: 950px) {

    * {
        margin: 0;
    }

    .game-button {
        text-align: center;
        width: 30%;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 2%;
    }
    
    #reset-game {
        font-size: 20px;
    }

    #sheldons-rules {
        font-size: 17px;
        padding: 5px;
    }

    #game-rules-image {
        width: 80%;
        padding-bottom: 10%;
    }

    footer {
        font-size: 20px;
    }

    #footer-links {
        margin-left: 9%;
        margin-right: 9%;
        background-color: #1F2E24;
        color: #9db0a3;
        border: 2px #9db0a3 solid;
        border-radius: 10px;
        padding: 10px;
    }

    #footer-links:hover {
        background-color: #9db0a3;
        color: #1F2E24;
        border: 2px #1F2E24 solid;
        border-radius: 10px;
    }

}